<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        #qr img {
            margin: 0 auto 0;
            padding: 25px;
            border: 1px solid #555;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

    <title>QR Code Generator</title>
</head>
<body>

<div class="container">
    <div>
        <h1>QR Code Generator</h1>
        <hr>
    </div>

    <div id="app">
        <div class="row">
            <div class="col-6">
                <text-input v-model="text"></text-input>

                <div class="row">
                    <div class="col-3">
                        <radio id="level-low" label="Low"
                               :self_value="correctLevel.L"
                               v-model="mode"></radio>
                    </div>
                    <div class="col-3">
                        <radio id="level-medium" label="Medium"
                               :self_value="correctLevel.M"
                               v-model="mode"></radio>
                    </div>
                    <div class="col-3">
                        <radio id="level-quartile" label="Quartile"
                               :self_value="correctLevel.Q"
                               v-model="mode"></radio>
                    </div>
                    <div class="col-3">
                        <radio id="level-high" label="High"
                               :self_value="correctLevel.H"
                               v-model="mode"></radio>
                    </div>
                </div>
            </div>
            <div class="col-6" id="qr">

            </div>
        </div>
    </div>
</div>

<script>
    const TextInput = {
        template: `
            <div class="form-group">
                <label for="text" class="sr-only">Text to encode</label>
                <input type="text" id="text" class="form-control"
                       placeholder="Enter text here"
                       :value="value"
                       @input="$emit('input', $event.target.value)">
            </div>
        `,
        props: ['value'],
    };

    const Radio = {
        template: `
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input"
                       :id="id"
                       :value="self_value"
                       :checked="value == self_value"
                       @change="$emit('input', $event.target.value)">
                <label :for="id" class="custom-control-label">{{label}}</label>
            </div>
        `,
        props: ['id', 'self_value', 'value', 'label'],
    };

    new Vue({
        el: '#app',
        data() {
            return {
                text: '',
                mode: QRCode.CorrectLevel.H,
                correctLevel: QRCode.CorrectLevel,
            };
        },
        components: {
            Radio,
            TextInput,
        },
        watch: {
            text() {
                this.qr();
            },
            mode() {
                this.qr();
            },
        },
        methods: {
            qr() {
                const element = document.getElementById("qr");

                element.innerHTML = '';

                new QRCode(element, {
                    text: this.text,
                    width: 256,
                    height: 256,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : parseInt(this.mode),
                });
            },
        },
    });
</script>

</body>
</html>